<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
<title>Giao's bookstore</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}" />
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

}

td, th {
  
  text-align: center;
  padding: 8px;
  font-weight: normal;
}

th.table-header {
	font-weight: bold;
	text-align: center;
}

.col-3 {width: 25%; }
.col-6 {width: 50%;}



</style>
</head> 
<body>
<div class="row">
  <div class="col-3">
    <h1 th:text="'Books'" /> 
  </div>

  <div class="col-6"></div> 
  <div class="col-3" style="text-align: right;">
    <h5>   
    <form th:action="@{/logout}" method="post">
     	<span th:inline="text" style="font-size: 18px;">[[${#httpServletRequest.remoteUser}]]   </span>
    	<input type="submit"value="Sign Out" style="font-size: 14px;"/>
    </form>
    </h5>
  </div> 
</div> 

<table class="table table-striped">
	<tr>
    <th class="table-header" th:text="'Author'"/>
    <th class="table-header" th:text="'Title'"/>
    <th class="table-header" th:text="'ISBN'"/>
    <th class="table-header" th:text="'Year'"/>
    <th class="table-header" th:text="'Category'"/>
  </tr>	

  <tr th:each="book : ${booklist}">
    <th th:text="${book.author}"/>
    <th th:text="${book.title}"/>
    <th th:text="${book.isbn}"/>
    <th th:text="${book.year}"/>
    <th th:text="${book.category.name}"/>
   	<th><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></th>
   	<th><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></th>
  </tr>

</table>
<a  class="btn btn-success" th:href="@{/addbook}">Add Book</a>
</html>